@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    180deg,
    rgba(95, 182, 209, 0.8) 0%,
    rgba(66, 173, 207, 0.6) 58.85%,
    rgba(156, 209, 226, 0.4) 100%
  );
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  background-color: rgba(34, 172, 202, 1);
  min-width: 100%;
}
.logo {
  padding-left: 1.5rem;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.container {
  background-color: rgba(34, 172, 202, 1);
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-btn {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 46px;
  width: 46px;
  background-color: rgba(153, 211, 229, 1);
  outline: none;
}
.search-btn:hover {
  background-color: rgba(153, 211, 229, 0.459);
}
.fa-solid {
  color: whitesmoke;
}
input::placeholder {
  color: white;
}
.search-bar {
  border: none;
  outline: none;
  padding: 0.8em;
  height: 40px;
  font-weight: bold;
  border-radius: 18px;
  background: rgba(153, 211, 229, 0.459);
  color: white;
  font-size: 20px;
}
